body{
    width: 600px;
    background-color: rgb(234, 235, 237);
    margin: auto;
    display: flex;
  flex-wrap: nowrap;
}
.image{
    width: 50%;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    
}
.text{
    width: 50%;
    display: inline-block;
    font-family: sans-serif;
    margin: auto;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 60px;
    color: rgb(53, 53, 53);
    margin-bottom: 30px;
    font-weight: bold;
}
h2{
    text-align: center;
    font-size: 18px;
    color: rgb(110, 109, 109);
}
p{
    text-align: center;
    font-size: 12px;
    color: rgb(110, 109, 109);
    padding-bottom: 15px;
}
a{
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
    transition: 0.2s;
}
a:hover{
    background-color: rgb(110, 109, 109);
}
a:active{
    padding: 13px 18px;
    
}